<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>DEI CMT</title>
</head>
<body>
  <%- include('partials/header') %>
  <div class="container">
    <h4>Oops...Page Not Found!</h4>
<hr>
<h6>The page you are looking for doesn't exists. If you think this is an error, please feel free to reach out to us at <a href="mailto:cmt@dei.ac.in">cmt@dei.ac.in</a></h6>
  </div>
  <%- include('partials/footer') %>
</body>
<script src="/script.js"></script>
</html>