<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AlgoLeap</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="header-left">
        <button class="menu-btn">
          <i class="fas fa-bars"></i>
        </button>
        <div class="logo">
          <img src="/dei_logo.png" alt="AlgoLeap" />
        </div>
      </div>

      <div class="header-right">
        <a class="btn btn-block" href="/auth/google" role="button">
          Sign in with Google
        </a>
      </div>
    </header>

    <main>
      <div class="welcome-section">
        <div class="welcome-content">
          <div class="welcome-header">
            <h1>Welcome to Conference Management Toolkit</h1>

          </div>
<marquee behavior="scroll" direction="left" scrollamount="20">
    <img src="/1.jpg" width="360px" height="360px" alt="Natural" />
    <img src="/2.jpg" width="360px" height="360px" alt="Natural" />
    <img src="/3.jpg" width="360px" height="360px" alt="Natural" /> 
    <img src="/4.jpg" width="360px" height="360px" alt="Natural" />
    <img src="/5.jpg" width="360px" height="360px" alt="Natural" />
    <img src="/6.jpg" width="360px" height="360px" alt="Natural" />
    <img src="/7.jpg" width="360px" height="360px" alt="Natural" />
    <img src="/8.jpg" width="360px" height="360px" alt="Natural" />
    <img src="/9.jpg" width="360px" height="360px" alt="Natural" />
    <img src="/10.jpg" width="360px" height="360px" alt="Natural" />
    <img src="/11.jpg" width="360px" height="360px" alt="Natural" />
    <img src="/12.jpg" width="360px" height="360px" alt="Natural" />
    <img src="/13.jpg" width="360px" height="360px" alt="Natural" />
    <img src="/14.jpg" width="360px" height="360px" alt="Natural" />
    <img src="/15.jpg" width="360px" height="360px" alt="Natural" />
    <img src="/16.jpg" width="360px" height="360px" alt="Natural" />
    <img src="/17.jpg" width="360px" height="360px" alt="Natural" />

  </marquee>
          <!-- <p align="justify" class="working-in">
            Step into the future with Algoleap Console, the ultimate control hub
            for developers, creators, and enterprises working with Generative
            AI. Inspired by the power and precision of the cloud, Algoleap
            Console offers a seamless, intuitive interface to manage, deploy,
            and monitor GenAI APIs — all in one place. From fine-tuning custom
            models to tracking real-time usage and scaling intelligent
            workflows, Algoleap puts next-gen AI infrastructure at your
            fingertips. Fast, flexible, and built for innovation — this is where
            ideas become intelligent. Welcome to Algoleap. Leap beyond limits.
          </p> -->
        </div>
      </div>

      <!-- <div class="quick-access">
        <h2>Powered by DEI Multimedia Laboratory / Centre</h2>
        <div class="access-grid">
          <a href="" class="access-card">
            <span>Text Generation</span>
          </a>
          <a href="" class="access-card">
            <span>Image Generation</span>
          </a>
          <a href="" class="access-card">
            <span>Video Generation</span>
          </a>
          <a href="" class="access-card">
            <span>Audio Generation</span>
          </a>
        </div>
      </div> -->
    </main>

    <script src="/script.js"></script>
  </body>
</html>
