<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEI CMT</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/dashboard/header') %>
        <div class="container">

    <h4>Welcome to Poster Presentation Coordinator's Dashboard, <%=user.name %> (<%= user.email %>)!</h4>
<hr>
    
</div>
</body>
</html>