<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>DEI CMT</title>
</head>
<body>
    <%- include('../partials/header') %>

    <div class="container">

        <div class="card">
  <div class="card-header">
    <b>Password Reset Link</b>
  </div>
  <div class="card-body">
    <p class="card-text">

<form action="/send-password-reset-link" method="post">
    <input required style="width:400px;" name="email" type="email" placeholder="Email ID" class="form-control">
    <input class="btn btn-primary" type="submit" value="Send Password Reset Link">
</form>


    </p>
  </div>
</div>



    </div>
  <%- include('../partials/footer') %>  
</body>
<script src="/script.js"></script>
</html>