<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEI CMT</title>

    <link rel="stylesheet" href="/styles.css" />
    <link rel="shortcut icon" href="/dei_logo.png" type="image/x-icon" />
  </head>
  <body>
    <%- include('../partials/dashboard/header') %>

    <div class="container">
      
      <h4>Create New Conference</h4>
      <hr />
      <form action="/create-new-conference" method="POST">
        <div class="form-group">
             <label
                  class="form-check-label"
                  for="co-chairs"
                >
Conference Title               </label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            name="title"
            aria-describedby="emailHelp"
            placeholder="Conference Title"
            required
          />
        </div>

        <div class="form-group">
             <label
                  class="form-check-label"
                  for="co-chairs"
                >
Conference Description                </label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            name="description"
            rows="3"
            placeholder="A few lines about the conference..."
          ></textarea>
        </div>

        <hr />

        <table class="table">
          <tr>
            <td colspan="2">
              <div class="form-group">
                <label class="form-check-label" for="conference_start_date">
                  Conference Start Date
                </label>
                <input
                  type="date"
                  class="form-control"
                  id="exampleInputEmail1"
                  name="conference_start_date"
                  aria-describedby="emailHelp"
                  placeholder="Conference Start Date"
                  required
                />
              </div>
            </td>

            <td colspan="2">
              <div class="form-group">
                <label class="form-check-label" for="conference_start_date">
                  Conference End Date
                </label>
                <input
                  type="date"
                  class="form-control"
                  id="exampleInputEmail1"
                  name="conference_end_date"
                  aria-describedby="emailHelp"
                  placeholder="Conference Start Date"
                  required
                />
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <label class="form-check-label" for="full_paper_submission">
                  Deadline for Full Paper Submission
                </label>
                <input
                  type="date"
                  class="form-control"
                  id="exampleInputEmail1"
                  name="full_paper_submission"
                  aria-describedby="emailHelp"
                  placeholder="Conference Start Date"
                  required
                />
              </div>
            </td>
            <td>
              <div class="form-group">
                <label class="form-check-label" for="acceptance_notification">
                  Deadline Acceptance Notification
                </label>
                <input
                  type="date"
                  class="form-control"
                  id="exampleInputEmail1"
                  name="acceptance_notification"
                  aria-describedby="emailHelp"
                  placeholder="Conference Start Date"
                  required
                />
              </div>
            </td>
            <td>
              <div class="form-group">
                <label
                  class="form-check-label"
                  for="camera_ready_paper_submission"
                >
                  Deadline Final Camera Ready Paper Submission
                </label>
                <input
                  type="date"
                  class="form-control"
                  id="exampleInputEmail1"
                  name="camera_ready_paper_submission"
                  aria-describedby="emailHelp"
                  placeholder="Conference Start Date"
                  required
                />
              </div>
            </td>

             <td>
              <div class="form-group">
                <label
                  class="form-check-label"
                  for="camera_ready_paper_submission"
                >
                  Deadline for Peer Review
                </label>
                <input
                  type="date"
                  class="form-control"
                  id="exampleInputEmail1"
                  name="deadline_peer_review"
                  aria-describedby="emailHelp"
                  placeholder="Conference Start Date"
                  required
                />
              </div>
            </td>


          </tr>
          <tr>
<td colspan="4">

   <label
                  class="form-check-label"
                  for="co-chairs"
                >
Co-Chairs                </label>
  <textarea class="form-control" required name="co_chairs" placeholder="Email IDs of the Co-Chairs (seperated by comma) - Co-Chairs do not have the privilege to Manage Tracks / Manage Oral & Poster Presentation Sessions / Publish Peer Review Results / Modify Conference / Delete Conference."></textarea>
</td>

          </tr>
        </table>

      

     

        <div class="form-group">
          <input
            type="submit"
            class="btn btn-success"
            value="Create Conference"
          />
        </div>
      </form>
    </div>
    <%- include('../partials/footer') %>
  </body>
  <script src="/script.js"></script>
</html>
