<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>DEI CMT</title>
</head>
<body>
    <%- include('../partials/dashboard/header') %>
    <div class="container">
        <h4>Publish New Announcement</h4><hr>
        <form action="/publish-announcement" method="post">
            <input name="title" type="text"  class="form-control" placeholder="Title of Announcement" required>
           <br> <textarea name="body" maxlength="400" class="form-control" placeholder="Body of Announcement" required></textarea>
            <br><input type="submit" class="btn btn-primary" value="Publish">
        </form>

    </div>
<%- include('../partials/footer') %>    
</body>
</html>